*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1em;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	background: #e6e6e6;
}

/* layout */
h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color: #f7b600;
}

a:hover{
	text-decoration: none;
}

#area-cabeçalho a:link, #area-cabeçalho a:visited{
	color: #FFF;
	padding: 8px 12px;
}

#area-cabeçalho a:hover{
	color: #f7b600;
	background: #FFF;
}

h2{
	color: #f7b600;
}

h3{
	color: #565656;
	background: #CCC;
	padding: 5px;
}

#area-cabeçalho{
	background: #f7b600;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu{
	padding: 10px;
}

/* corpo do home */
#area-principal{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

.conteudo-lateral {
	background: white;
	padding: 5px;
	margin-bottom: 20px;
	width: 240px;
	float: right;
}

.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}

#area-postagens{
	width: 660px;
	float: left;
}

#postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.data-postagem{
	font-size: 0.8;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

/*  */

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}

.branco{
	color: white;
}